@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    background-color: #0046af;
    color: rgb(248, 206, 206);
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    padding: 0;
    margin: 0;
}

h1, h2, h3{
    text-align: left;
}

h1{
    font-size: 4rem;
    line-height: 6rem;
    padding: 0;
    margin: 0;
}

h3{
    font-size: 2rem;
    max-width: 100%;
    margin: 0 auto;
}

.container{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: left;
}